<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangma.mapper.sale.b2c.StockOutMapper">
    <select id="findAll" resultType="com.shangma.entity.sale.b2c.StockOutManage">
        select * from t_b2c_stock_out_manage
    </select>
    <select id="search" parameterType="com.shangma.entity.sale.b2c.StockOutManage" resultType="com.shangma.entity.sale.b2c.StockOutManage">
        select * from t_b2c_stock_out_manage
        <where>
            <if test="orderId!=null and orderId!=''">
                order_id like '%${orderId}%'
            </if>
            <if test="orderType != null and orderType != ''">
                and order_type like '%${orderType}%'
            </if>
            <if test="payment != null and payment != ''">
                and payment like '%${payment}%'
            </if>
            <if test="businessType != null and businessType != ''">
                and business_type like '%${businessType}%'
            </if>
            <if test="timeFrom != null">
                and order_date &gt;= '${timeFrom}'
            </if>
            <if test="timeTo != null">
                and order_date &lt;= '${timeTo}'
            </if>
            <if test="orderAction != null and orderAction !=''">
                and order_action like '%${orderAction}%'
            </if>
            <if test="orderStatus != null and orderStatus !=''">
                and order_status like '%${orderStatus}%'
            </if>
        </where>
    </select>
    <select id="getOrderInfo" parameterType="Long" resultType="com.shangma.entity.sale.b2c.StockOutManage">
        select * from t_b2c_stock_out_manage where order_id = #{orderId}
    </select>
    <select id="findCustomer" parameterType="Long" resultType="com.shangma.entity.sale.b2c.Customer">
        select * from t_b2c_customer WHERE id=#{id}
    </select>
    <select id="findGoods" parameterType="Long" resultType="com.shangma.entity.sale.b2c.OrderGoods">
        SELECT * FROM t_b2c_order_goods where order_id = #{orderId}
    </select>
    <update id="updateOrderStatus" parameterType="Long">
        update t_b2c_sales_order set order_status = '已收款已出库' where order_id = #{orderId}
    </update>
    <update id="updateOnlineOrderStatus" parameterType="Long">
        update t_b2c_internet_sale_order set order_status = '已收款已出库' where order_id = #{orderId}
    </update>
    <update id="updateStockOrderStatus" parameterType="Long">
        update t_b2c_stock_out_manage set order_status = '已收款已出库' where order_id = #{orderId}
    </update>
    <insert id="addStockOutRecord" parameterType="com.shangma.entity.sale.b2c.StockOutManage">
        INSERT INTO `shangma-erp`.`t_b2c_stock_out_record`
        (`order_id`, `order_type`, `order_action`, `business_type`
        , `payment`, `distribution_mode`, `order_status`, `order_date`
        , `customer_id`,`creator`,`create_date`)
        VALUES ( ${orderId}, '${orderType}', '${orderAction}', '${businessType}',
        '${payment}', '${distributionMode}', '${orderStatus}',
        '${orderDate}', ${customerId},'${userName}',NOW());
    </insert>
    <select id="findByIds" parameterType="java.util.List" resultType="com.shangma.entity.sale.b2c.StockOutManage">
        select * from t_b2c_stock_out_manage where order_id in
        <foreach collection="orderIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>